<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>강의 목록</h1>
    
    {% for lecture in lectures %}
    <li>
       [{{lecture.code}}] {{lecture.title}} - {{lecture.professor.name}}<br>
        수강생 목록 : <br>
       {% for student in lecture.students.all %}   
            {{ student.student_id}} - {{ student.name }} <br>
        {% empty %} (수강생 없음)
        {% endfor %}
    </li>
    <hr>
    {% empty %}
        등록된 강의가 없습니다.
    {% endfor %}
</body>
</html>